body {
    color: white;
    background-color: mediumpurple;
    font-family: "Europa", sans-serif;
    font-size: 1em; /* Set a standard font size and use em units for scalability */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}
button {
    font-family: "Europa", sans-serif;
    color: mediumpurple;
    font-size: 1.3em;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    border: none; /* Remove default border */
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

button:hover {
    background-color: #e6e6e6; /* Hover effect for buttons */
}

.boxed, .item {
    color: #542da8;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.boxed:hover {
    background-color: #f0f0f0; /* Hover effect */
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
    gap: 20px;
    margin-bottom: 20px; /* Spacing between the categories/items and the sentence */
}

.sentence {
    color: #542da8;
    font-size: 2rem;
    margin: 20px 0; /* Spacing around the sentence */
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}


.item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Responsive grid for items */
    gap: 20px;
}